Hello M. {{ recipient }},

Thanks for your email.
I was not able to attend because {{ excuse }}. I was meaning to tell you, but I completely forgot. 
I am terribly sorry about all this.

{{ farewell }}, {{ me }}